{{#if success_msg}}
    <div class="alert alert-success">
        <span class="font-weight-bold">{{success_msg}}</span>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">
        <span class="font-weight-bold">{{error_msg}}</span>
    </div>
{{/if}}